.header-test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.input-search {
  display: flex;
  align-items: center;
}

a {
  margin: 10px;
}

h1 {
  margin: 40px;
  text-shadow: #fc00fd 1px 0 10px;
  color: white;
}

.link {
  text-shadow: #fc00fd 1px 0 10px;
  color: white;
}

.img-collection {
  vertical-align: middle;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.img-collection:hover {
  transform: scale(1.02);
}

.universes {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.universe {
  margin: 30px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.universes img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 250px;
}

.universes img:hover {
  transform: scale(1.02);
}
