/* HEADER */

.header {
  /* background-image: url("/img/wallpaper/funko_wallpaper1.png");
  background-position: center;
  height: 300px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #222222;
  height: 90px;
}

.nav-bar {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

/* .gradient {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0.4) 100%
  );
} */

/* .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
} */

h1 {
  /* color: #fc00fd; */
  margin: 40px;
  text-shadow: #fc00fd 1px 0 10px;
  color: white;
}

.MuiBottomNavigationAction-wrapper {
  color: #fc00fd;
}

.link {
  text-shadow: #fc00fd 1px 0 10px;
  color: white;
}

.link > a {
  margin: 10px;
}
